[Unit]
Description=Loki log aggregation system
After=network.target

[Service]
Type=simple
User={{ loki_user }}
Group={{ loki_group }}
ExecStart={{ loki_install_dir }}/loki -config.file={{ loki_config_dir }}/loki.yml
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
