[Unit]
Description=Promtail log shipper agent
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ promtail_install_dir }}/promtail -config.file={{ promtail_config_dir }}/promtail.yml
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
